server:
  extraArgs:
  - --insecure
  - --staticassets
  - /shared/app
  - --redis
  - argocd-redis:6379

  service:
    type: ClusterIP

extraObjects:
- apiVersion: networking.istio.io/v1alpha3
  kind: Gateway
  metadata:
    name: argocd-gateway
  spec:
    selector:
      istio: ingressgateway
    servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
      - "*"
- apiVersion: networking.istio.io/v1alpha3
  kind: VirtualService
  metadata:
    name: argocd-vs
  spec:
    hosts:
    - "*"
    gateways:
    - argocd-gateway
    http:
    - route:
      - destination:
          host: argocd-server
          port:
            number: 80
