fullnameOverride: argocd

server:
  extraArgs:
  - --staticassets
  - /shared/app
  - --redis
  - argocd-redis:6379

  service:
    type: ClusterIP

extraObjects:
- apiVersion: networking.istio.io/v1alpha3
  kind: Gateway
  metadata:
    name: argocd-gateway
  spec:
    selector:
      istio: ingressgateway
    servers:
    - port:
        number: 443
        name: tls
        protocol: TLS
      tls:
        mode: PASSTHROUGH
      hosts:
      - "*"
- apiVersion: networking.istio.io/v1alpha3
  kind: VirtualService
  metadata:
    name: argocd-vs
  spec:
    hosts:
    - "*"
    gateways:
    - argocd-gateway
    tls:
    - match:
      - port: 443
        sniHosts:
        - "*"
      route:
      - destination:
          host: argocd-server
          port:
            number: 443
