provider: cloudflare

env:
- name: CF_API_TOKEN
  valueFrom:
    secretKeyRef:
      name: cloudflare-api-token
      key: api-token

txtOwnerId: "k3s-home-cluster"
# policy: sync
sources:
- ingress
- service
- crd

policy: sync

logLevel: debug
